<div (click)="handleClick(index)"
    class="flex items-start p-2 rounded-md hover:bg-gray-200 transition-colors cursor-pointer">
    <div class="w-[54px] h-[54px]">
        <img src="{{item.thumbnail || imgNotFound}}" width="100%" height="100%" class="rounded-md" alt="{{item.title}}"
            loading="lazy">
    </div>
    <div class="ml-4 flex-1">
        <p class="font-semibold line-clamp-1 text-sm">{{item.title | titlecase}}</p>
        <div class="flex items-center gap-2 text-xs w-full mt-1">
            <p class="rounded-sm line-clamp-1 text-gray-400">
                {{name}}
            </p>
        </div>
    </div>
</div>