<div>
    <div class="flex w-full overflow-auto">
        <div class="w-[200px] max-w-full z-[9999] h-screen pt-6 border-r border-[rgba(28,30,32,0.05)] fixed top-0 bottom-0 left-0 bg-white sidebar-wrapper"
            [ngClass]="{'active': widthDirective.isTablet || menuState.menu }">
            <app-sidebar></app-sidebar>
        </div>
        <ng-container *ngIf="menuState.menu">
            <div (click)="setMenu()" class="fixed inset-0 bg-black opacity-50 z-[9998] transition-opacity"></div>
        </ng-container>
        <div class="relative content-wrapper" appInnerWidth #widthDirective="windowWidth"
            [ngClass]="{'pc':widthDirective.isPC, 'tablet': widthDirective.isTablet}">
            <div appClickStopPropagation
                class="px-4 py-3 shadow-md w-full flex items-center fixed top-0 z-[999] justify-between lg:hidden bg-white">
                <i class="fa-solid fa-bars w-8 h-8 md:hidden block" (click)="setMenu()"></i>
                <i class="fa-solid fa-play w-8 h-8" (click)="setPlayer()"></i>
            </div>
            <div class="min-h-screen py-6 lg:mt-0 mt-[60px]">
                <router-outlet></router-outlet>
            </div>
            <app-footer></app-footer>
        </div>
    </div>
</div>