.sidebar-wrapper {
    left: -200px;
    transition: all linear 0.3s;
}

.sidebar-wrapper.active {
    left: 0px;
}

.content-wrapper {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.content-wrapper.pc {
    width: calc(100% - 500px);
    margin-right: 300px;
    margin-left: 200px;
}

.content-wrapper.tablet {
    width: calc(100% - 200px);
    margin-left: 200px;
}

.player-wrapper {
    right: -100%;
    transition: "all linear 0.3s"
}

.player-wrapper.active {
    right: 0px;
}