<div>
    <div class="flex w-full overflow-auto">
        <div class="sidebar-wrapper" [ngClass]="{'active':widthDirective.type === 'Tablet'}">
            <!-- sidebar here -->
            <h1>Sidebar</h1>
        </div>
        <!-- menu here -->
        <div class="relative content-wrapper" 
             appInnerWidth #widthDirective="windowWidth"
             [ngClass]="{'pc':widthDirective.type === 'PC', 'tablet': widthDirective.type === 'Tablet'}">
                <h1>Content here</h1>
            <div
                class="px-4 py-3 shadow-md w-full flex items-center fixed top-0 z-[999] justify-between lg:hidden bg-white">
                <i class="fa-solid fa-bars w-8 h-8 md:hidden block"></i>
                <i class="fa-solid fa-play"></i>
            </div>
            <div class="min-h-screen py-6 lg:mt-0 mt-[60px]">
                <router-outlet></router-outlet>
            </div>
            <app-footer></app-footer>
        </div>
    </div>
</div>